@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Life+Savers:wght@400;700;800&family=Open+Sans:wght@300&display=swap');
@font-face {
	font-family: 'Ostrich Sans';
	src: url('ostrich-sans-light.eot');
	src: local('â˜º'), url('ostrich-sans-light.woff') format('woff'), url('ostrich-sans-light.ttf') format('truetype'), url('ostrich-sans-light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Ostrich Sans';
	src: url('ostrich-sans-bold.eot');
	src: local('â˜º'), url('ostrich-sans-bold.woff') format('woff'), url('ostrich-sans-bold.ttf') format('truetype'), url('ostrich-sans-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
/* 
font-family: 'Bellota Text', cursive;
font-family: 'Life Savers', cursive;
font-family: 'Open Sans', sans-serif;
*/
* {
    box-sizing: border-box;
}

#the-top {
    z-index: 4;
    background: black;
    color: white;
    width: 3%;
    height: 4%;
    border-radius: 100%;
    position: fixed;
    font-size: 2rem;
    text-align: center;
    padding: 0px 5px 0px 0px;
    right: 2%;
    bottom: 15%;
}
#the-top:hover {
    z-index: 4;
    background: black;
    color: white;
    width: 3%;
    height: 4%;
    border-radius: 100%;
    position: fixed;
    font-size: 2rem;
    text-align: center;
    padding: 0.2%;
    right: 2%;
}
.header {
    grid-area: header;
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    height: 50vh;
    width: 100%;
    background: center 75% / cover no-repeat;
}

/* The grid container */
.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'nav nav nav nav nav nav'
        'left left middle middle right right'
        'select1 select1 select1 select3 select3 select3'
        'contact contact contact contact contact contact'
        'map map map map map map'
        'footer footer footer footer footer footer';
    /* grid-column-gap: 10px; - if you want gap between the columns */
}
.grid-container-form {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'nav nav nav nav nav nav'
        'form form form form form form'
        'contact contact contact contact contact contact'
        'map map map map map map'
        'footer footer footer footer footer footer';}
.grid-container-gallery {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'nav nav nav nav nav nav'
       'gallery gallery gallery gallery gallery gallery'
        'contact contact contact contact contact contact'
        'map map map map map map'
        'footer footer footer footer footer footer';
}

.home-background {
    background: url('https://github.com/BrianRosenkranz/fitness-center/blob/main/assets/img/Header%20full%20Res.jpg?raw=true') fixed no-repeat; 
     background-size: 100vw 100vh;
}
.form {
    grid-area: form;
    background-color: #5979653d;
}
#form-style {
    height: 50vh;
    width: 700px;
	padding: 25px;
	border-radius: 8px;
	margin: 25px auto;
    background-color: #384a3ea3;
}
.left {
    grid-area: left;
    background-color: #5979653d;
    height: 41vh;
    padding: 10px;
    width: 33.3vw;
   
}
.middle {
    grid-area: middle;
    background-color: #5979653d;
    height: 41vh;
    padding: 10px;
    width: 33.3vw;
}
nav >  a:hover {
    background-color: #F2F1E7;
    color: #000000d6;
    border-radius: 5px;
}
.map {
    grid-area: map;
    height: 15vh;
    width: 100%;
    border: none;
    border-radius: 5px;

}

.contact {
    grid-area: contact;
    background-color: #597965;
    height: 10vh;
}

.container-contact {
    display: inline-flex;
    justify-content: space-evenly;
    align-content: flex-end;
    align-items: center;
}

.get-in-touch {
    order: 1;
}

.schedule {
    order: 2;
}

.address {
    order: 3;
}

.select3 {
    grid-area: select3;
    background-color: #5979653d;
    height: 41vh;
    width: 50vw;
    padding: 59px 0px 59px 117px;
}

.select1 {
    grid-area: select1;
    background-color: #5979653d;
    height: 41vh;
    width: 50vw;
    padding: 59px 0px 59px 117px;
}
.goal-health {
    text-align: justify;
    color: white;
    background-color: #000000d6;
    z-index: 2;
    padding: 5px;
    position: relative;
    left: 15%;
    top: 35px;
    width: 79%;
    height: 82%;
}
.text-wrap1 {
    background-color: #384A3E;
    border-radius: 10px;
    width: 75%;
    position: relative;
    left: 60px;
    padding: 5px;
}
.text-wrap2 {
    background-color: #543E33;
    border-radius: 10px;
    width: 75%;
    position: relative;
    left: 60px;
    padding: 5px;
}
.nav {
    grid-area: nav;
    text-align: center;
    background-color: #000000d6;
    height: 5vh;
    padding-top: 1%;
}

/* Style the right column */
.right {
    grid-area: right;
    background-color: #5979653d;
    height: 41vh;
    padding: 10px;
    width: 33.3vw;
}

/* Style the footer */
.footer {
    grid-area: footer;
    background-color: #000000d6;
    padding: 10px;
    text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .grid-container {
        grid-template-areas:
        'header header header header header header'
        'nav nav nav nav nav nav'
        'left left left left left left'
        'right right right right right right'
        'select1 select1 select1 select1 select1 select1'
        'select3 select3 select3 select3 select3 select3'
        'contact contact contact contact contact contact'
        'map map map map map map'
        'footer footer footer footer footer footer';
    }
}

body {
    font-family: 'Open Sans', Aria, sans-serif;
    background-color: black#ffffff;
    color: white;
    margin: 0;
}

h1,
h2,
h3 {
    font-family: 'Ostrich Sans';
    font-weight: bold;
}

nav > a {
    color: #F2F1E7;
    text-transform: capitalize;
    text-decoration: none;
    border: 3px ;
    width: 20%;
    padding: 0.5em;
    margin: 0.5rem;
    font-size: 1.2rem;
}

video {
    width: 50%;
    height: 50%;
    position: relative;
    background-color: ;
}

.text-align-center {
    text-align: center;
    margin: 5rem 25rem;
    color: rgb(255 255 255);
    position: relative;
    top: 150px;
    font-size: 2rem;
    background-color: #00000073;
}
.capita {
    text-transform: uppercase;
    text-decoration: underline;
}



.text-center {
    text-align: center;
}

#video {
    border-radius: 8px;
    border: #000000d6 solid 10px;
}

.list {
    text-align: center;
    color: white;
    background-color: #000000d6;
    z-index: 2;
    padding: 5px;
    position: relative;
    left: 15%;
    top: 35px;
    width: 79%;
    height: 82%;
}

li {
    list-style-type: none;
}
fieldset {
	border: none;
	margin-top: 20px;
    color: black;
}
label {
    color: black;
}
legend {
	font-size: 1.1rem;
    font-weight: 900;
	text-transform: uppercase;
	margin: 20px 0 10px 0;
}
footer {
    text-align: center;
    height: 200px;
    width: 100%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.material-symbols-outlined {
    top: 5px;
    left: 3px;
    position: relative;
    font-variation-settings:
        'FILL'1,
        'wght'400,
        'GRAD'0,
        'opsz'48;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}