@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Life+Savers:wght@400;700;800&family=Open+Sans:wght@300&family=Stalinist+One&display=swap');
#header-size {
    width: 50%;
}

/* 
font-family: 'Bellota Text', cursive;
font-family: 'Life Savers', cursive;
font-family: 'Open Sans', sans-serif;
*/
* {
    box-sizing: border-box;
}

#img-logo {
    text-align: left;
}

#the-top {
    z-index: 4;
    background: black;
    color: white;
    width: 3%;
    height: 4%;
    border-radius: 100%;
    position: fixed;
    font-size: 2rem;
    text-align: center;
    padding: 0px 5px 0px 0px;
    right: 2%;
    bottom: 15%;
}

#the-top:hover {
    z-index: 4;
    background: black;
    color: white;
    width: 3%;
    height: 4%;
    border-radius: 100%;
    position: fixed;
    font-size: 2rem;
    text-align: center;
    padding: 0.2%;
    right: 2%;
}

.header {
    grid-area: header;
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    height: 50vh;
    width: 100%;
    background: center 75% / cover no-repeat;
}

/* The grid container */
.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'nav nav nav nav nav nav'
        'left left left left right right'
        'select1 select1 middle middle right right'
        'select2 select2 select3 select3 right right'
        'contact contact contact contact contact contact'
        'map map map map map map'
        'footer footer footer footer footer footer';
    /* grid-column-gap: 10px; - if you want gap between the columns */
}

.grid-container-form {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'nav nav nav nav nav nav'
        'form form form form form form'
        'contact contact contact contact contact contact'
        'map map map map map map'
        'footer footer footer footer footer footer';
}

.grid-container-gallery {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'nav nav nav nav nav nav'
        'img1 img1 img2 img2 img3 img3'
        'img4 img4 img4 img5 img5 img5'
        'contact contact contact contact contact contact'
        'map map map map map map'
        'footer footer footer footer footer footer';
}


.img-1 {
    grid-area: img1;
    background-color: #5979653d;
    width: 33.333vw;
    height: 45vh;
    padding: 10px;

}

.img-2 {
    grid-area: img2;
    background-color: #5979653d;
    width: 33.33vw;
    height: 45vh;
    padding: 10px;

}

.img-3 {
    grid-area: img3;
    background-color: #5979653d;
    width: 33.33vw;
    height: 45vh;
    padding: 10px;

}

.img-4 {
    grid-area: img4;
    background-color: #5979653d;
    width: 50vw;
    height: 45vh;
    padding: 10px;

}

.img-5 {
    grid-area: img5;
    background-color: #5979653d;
    width: 50vw;
    height: 45vh;
    padding: 10px;

}

/* from 144 to 165 an id selector to the img did not work*/
.img-1>a>img {
    position: relative;
    left: 22%;
    border-radius: 5px;
    border: #000000d6 solid 10px;
}

.img-2>a>img {
    position: relative;
    left: 22%;
    border-radius: 5px;
    border: #000000d6 solid 10px;
}

.img-3>a>img {
    position: relative;
    left: 22%;
    border-radius: 5px;
    border: #000000d6 solid 10px;
}

.img-4>a>img {
    position: relative;
    left: 20%;
    border-radius: 5px;
    border: #000000d6 solid 10px;
}

.img-5>a>img {
    position: relative;
    left: 18%;
    border-radius: 5px;
    border: #000000d6 solid 10px;
}

.home-background {
    background: url('https://github.com/BrianRosenkranz/fitness-center/blob/main/assets/img/Header%20full%20Res.jpg?raw=true') fixed no-repeat;
    background-size: 100vw 100vh;
}


.left {
    grid-area: left;
    background-color: #5979653d;
    height: 30vh;
    padding: 10px;
    width: 66.6666vw;

}

.middle {
    grid-area: middle;
    background-color: #5979653d;
    height: 30vh;
    padding: 10px;
    width: 33.333vw;
}

nav>a:hover {
    background-color: #F2F1E7;
    color: #000000d6;
    border-radius: 5px;
}

.map {
    grid-area: map;
    height: 15vh;
    width: 100%;
    border: none;
    border-radius: 5px;

}


.contact {
    grid-area: contact;
    background-color: #597965;
    height: 10vh;
}

.container-contact {
    display: inline-flex;
    justify-content: space-evenly;
    align-content: flex-end;
    align-items: center;
}

.get-in-touch {
    order: 1;
}

.schedule {
    order: 2;
}

.address {
    order: 3;
}
.get-in-touch>a {
    color: white;
}
.get-in-touch>p {
    margin-top: 0.5em;
}
#gif-container {
    width:100%;
    height:0;
    padding:10% 0 32%;
    position:relative;
    border-radius: 8px;
}
#gif-wrap{
    width:100%; height:100%; 
    position:absolute;
}

.select3 {
    grid-area: select3;
    background-color: #5979653d;
    height: 40vh;
    width: 33.3333vw;
    padding: 59px 0px 59px 17px;
}

.select2 {
    grid-area: select2;
    background-color: #5979653d;
    height: 40vh;
    width: 33.3333vw;
    padding: 59px 0px 59px 117px;
}

.select1 {
    grid-area: select1;
    background-color: #5979653d;
    height: 30vh;
    width: 33.3333vw;
    padding: 10px 0px 59px 117px;
}

#info-img {
    width: 91%;
    border: #000000d6 solid 10px;
    border-radius: 8px;
    position: relative; 
    right: 40px;
    height: 30vh;
}
#facilities {
    text-align: left;
    color: white;
    background-color: #000000d6;
    z-index: 2;
    padding: 5px;
    position: relative;
    width: 76%;
    height: 94%;
    border-radius: 10px;
}
#goal{
    text-align: justify;
    color: white;
    background-color: #000000d6;
    z-index: 2;
    padding: 5px;
    position: relative;
    left: 3%;
    top: 1%;
    width: 79%;
    height: 92vh;
    border-radius: 10px;
}
.goal-health {
    text-align: left;
    color: white;
    background-color: #000000d6;
    z-index: 2;
    padding: 5px;
    position: relative;
    width: 76%;
    height: 30vh;
    border-radius: 10px;
}
#goal-container {
    text-align: left;
    color: white;
    background-color: #000000d6;
    z-index: 2;
    padding: 5px;
    position: relative;
    left: 7%;
    width: 86%;
    height: 82%;
    border-radius: 10px;
    top: 10px;
}
#text-wrap1 {
    background-color: #384A3E;
    border-radius: 10px;
    width: 97%;
    height: 54%;
    position: relative;
    left: 9px;
    padding: 15px;
    top: 6%;
}
#goal>h2 {
    font-size: 2.1rem;
    font-weight: bold;
    margin: 6%;
    background-color: #384A3E;
    border-radius: 8px;
    padding-left: 5%;
    
}
#text-wrap1>h3 {
    font-size: 1.8rem;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#text-wrap1>p {
    
    font-size: 1.3em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#text-facilities {
    background-color: #384A3E;
    border-radius: 10px;
    width: 97%;
    position: relative;
    left: 6px;
    padding: 8px 23px;
    top: 5px;
    height: 96%;
}
#text-wrap-goal {
    background-color: #384A3E;
    border-radius: 10px;
    width: 99%;
    height: 97%;
    position: relative;
    left: 7px;
    padding: 8px 23px;
    top: 3px;
}




.text-wrap2 {
    background-color: #dac667cf;
color: #000000;
    border-radius: 10px;
    width: 97%;
    position: relative;
    left: 7px;
    padding: 1px 23px ;
    height: 97%;
    top: 5px;
}

.nav {
    grid-area: nav;
    text-align: center;
    background-color: #000000d6;
    height: 5vh;
    padding-top: 1%;
}

/* Style the right column */
.right {
    grid-area: right;
    background-color: #5979653d;
    height: 100vh;
    padding: 10px;
    width: 33.333vw;
}

/* Style the footer */
.footer {
    grid-area: footer;
    background-color: #000000d6;
    padding: 10px;
    text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 1200px) {
    .grid-container {
        grid-template-areas:
            'header header header header header header'
            'nav nav nav nav nav nav'
            'left left left left left left'
            'right right right right right right'
            'middle middle middle middle middle middle'
            'select1 select1 select1 select2 select2 select2'
            'select3 select3 select3 select3 select3 select3'
            'contact contact contact contact contact contact'
            'map map map map map map'
            'footer footer footer footer footer footer';
    }
}

body {
    font-family: 'Open Sans', Aria, sans-serif;
    background-color: black#ffffff;
    color: white;
    margin: 0;
    font-size: 1.1rem;
}



nav>a {
    color: #F2F1E7;
    text-transform: capitalize;
    text-decoration: none;
    border: 3px;
    width: 20%;
    padding: 0.5em;
    margin: 0.5rem;
    font-size: 1.5rem;
}



.text-align-center {
    text-align: center;
    margin: 5rem 25rem;
    color: rgb(255 255 255);
    position: relative;
    bottom: 50px;
    font-size: 2rem;
    background-color: #00000073;
}

.capita {
    text-transform: uppercase;
    text-decoration: underline;
}


.text-center {
    text-align: center;
}

#video {
    border-radius: 8px;
    border: #000000d6 solid 10px;
    height: 94%;
    width: 90%;
    position: relative;
    right: 42px;
}


.form {
    grid-area: form;
    background-color: #5979653d;
    height: 70vh;
}

#form-style {
    height: 64vh;
    width: 700px;
    padding: 25px;
    border-radius: 8px;
    margin: 25px auto;
    background-color: #384a3ea3;
}

fieldset {
    border: none;
    margin-top: 20px;
    color: white;
}

label {
    color: white;
}

legend {
    font-size: 1.1rem;
    font-weight: 900;
    text-transform: uppercase;
    margin: 20px 0 10px 0;
}

input[type=text],
input[type=email],
input[list=time-list],
input[type=tel],
select {
    height: 30px;
    width: 67%;
    padding-left: 10px;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
}

input[type=submit] {
    margin-top: 20px;
    margin-left: 0.75rem;
    padding: 0.75rem;
    background-color: white;
    color: #000000d6;
    border: none;
    border-radius: 5px;
}

textarea {
    border-radius: 5px;
    border: none;

}

input[type=reset] {

    margin-top: 20px;
    margin-left: 0.75rem;
    padding: 0.75rem;
    background-color: #000000d6;
    color: white;
    border: 1px solid #000000;
    border-radius: 5px;
}

input[type=submit]:hover {
    margin-top: 20px;
    margin-left: 0.75rem;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #000000d6;
    color: white;
}

input[type=reset]:hover {

    margin-top: 20px;
    margin-left: 0.75rem;
    padding: 0.75rem;
    background-color: white;
    color: #000000d6;
    border: 1px solid #000000;
    border-radius: 5px;
}

footer {
    text-align: center;
    height: 200px;
    width: 100%;
}
footer>h3 {
    font-size: 1.3rem;
}
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.material-symbols-outlined {
    top: 5px;
    left: 3px;
    position: relative;
    font-variation-settings:
        'FILL'1,
        'wght'400,
        'GRAD'0,
        'opsz'48;
}

.fa {
    padding: 20px;
    margin: 5px;
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}